/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   .htaccess                                          :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: vincent.raine <vincent.raine@viacesi.fr>   +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2014/11/26 20:59:34 by vincent.raine     #+#    #+#             */
/*   Updated: 2014/11/26 23:37:54 by vincent.raine    ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

